<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\Rule\Action\Discount\CalculatorFactory">
        <arguments>
            <argument name="discountRules"  xsi:type="array">
                <item name="custom_p"  xsi:type="string">The1stByte\AdvancePromotions\Model\Rule\Action\Discount\CustomP</item>
            </argument>
        </arguments>
    </type>
</config>
