<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="salesrule_rule_load_after">
        <observer name="The1stByte_AdvancePromotions::salesrule_rule_load_after"
                  instance="The1stByte\AdvancePromotions\Observer\SalesruleRuleLoadAfterObserver"/>
    </event>
    <event name="salesrule_rule_save_after">
        <observer name="The1stByte_AdvancePromotions::salesrule_rule_save_after"
                  instance="The1stByte\AdvancePromotions\Observer\SalesruleRuleSaveAfterObserver"/>
    </event>
</config>
